* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/* core styles */

:root {
    --text-color: #180085;
    --hover-color: rgb(255, 0, 123);
    --big-font:3.5rem;
    --normal-font:4rem;
    --p-color: white;
    --section-color: #797979;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.blur-line {
    display: block;
    width: 65px;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.section-title {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-color);
}

.content {
    color: var(--section-color);
    line-height: 28px;
}

.section-subtitle {
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* core styles */

/* Header sections */
.head-welcom {
    margin-right: 150px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
}

.head-welcom i {
    background: var(--hover-color);
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}

.head-welcom a {
    color: var(--hover-color);
    margin-left: 7px;
    text-decoration: underline;
}

.main-navigtion__items li {
    display: inline-block;
}

.main-navigtion__item a {
    color: var(--text-color);
    font-weight: 600;
    margin-right: 85px;
    font-size: 14px;
}

.main-navigtion__item img {
    margin-right: 80px;
}

.main-navigtion__item a:hover {
    color: var(--hover-color);
}

/* /Header sections */

/* main-header */
.main-header {
    margin-top: 30;
    background-image: url(./images/pngtree-blue-background-childlike-background-simple-baby-products-image_4389.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: 100%;
    margin-bottom: 50px;
}

.main-header__left {
    padding-top: 50px;
}
.main-header__left p {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
}

.main-header__left h1 {
    color: var(--text-color);
    width: 30%;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 34px;
}

.btn {
    margin-top: 24px;
    background: var(--hover-color);
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px black;   
}

.btn:hover {
    scale: 1.070;
    transition: all 0.5s;
}
/* main-header */


/* about us section  */
 .about-left p {
    color: var(--section-color);
    margin-bottom: 24px;
}

 .about-img {
    display: inline-block;
    margin-top: -670px;
}

 .about-img img {
    border-radius: 100%;
    float: right;
    width: 50%;
    margin-top: -330px;
    border: 2px dashed var(--hover-color);
    height: 50%;
}

/* about us section  */

.images img  {
    margin-top: 40px;
    width: 70%;
    height: 250px;
    margin-left: 150px;
}

/* our program */
 .program {
    margin-top: 50px;
    margin-bottom: 200px;
 }

 .joha {
    margin-left: 70px;
 }

 .program-box {
    display: inline-block;
    border-radius: 10px;
    border-bottom: 3px solid var(--hover-color);
    margin-right: 24px;
    margin-top: 30px;
 }

 .program-title p {
    color: var(--hover-color);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
 }

 .program-title {
    padding-top: 50px;
    text-align: center;
 }

 .program {
    background-image: url(./images/horizontal-sky-with-cloud-background_1308-110533.jpg);
    height: 300px;
 }

 .program-content__img img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
 }
 .program-content {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 24px;
 }

.program-content p {
    margin-top: 10px;
    line-height: 24px;
    color: #797979;
}

.program-box:hover {
    transition: all 0.5s;
    box-shadow: 0px 16px 16px 5px rgb(0 0 0 / 20%);
    transform: scale(1.055);
}

/* /our program */


/* features section joha */

.container__1 {
    width: 1000px;
    margin: 0 auto;
}


.features-title {
    text-align: center;
    margin-bottom: 50px;
}

.features-title span {
    font-size: 12px;
    color: rgb(125, 214, 0);
    font-weight: 600;
}

.features-title h1 {
    font-size: 26px;
    margin-top: 10px;
}

.features-icon {
    border-radius: 50px;
    border: 2px dashed;
    border-color: var(--hover-color);
    width: 35%;
    height: 60px;
}

.features-content span {
    color: var(--hover-color);
    font-weight: 600;
    vertical-align: middle;
    margin-left: 14px;

}

.features-left span {
    padding-top: 500px;
}

.features-left i {
    margin-top: 7px;
    margin-left: 14px;
    display: inline-block;
}


.border {
    margin-top: 50px;
}

.border  {
    border-radius: 50px;
    border: 2px dashed;
    border-color: #a7a7a7;
    width: 35%;
    height: 60px;
}

.border span {
    color: var(--text-color);
}


.features-right {
    float: right;
    margin-top: -390px;
    margin-right: 100px;
}


.block-title {
    color: var(--text-color);
}

.block-title p {
    line-height: 28px;
    color: #797979;
}

.block-title i {
    color: var(--hover-color);

}

.block-title span {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 7px;
}

.features {
    margin-bottom: 100px;
}
/* /features section */


/* album section */
.container-album {
    width: 1340px;
    margin: 0 auto;
}

.album-title {
    display: inline-block;
    margin-right: 30px;
}

.album-title h1 {
    font-size: 34px;
}

.album-title span {
    color: rgb(0, 213, 221);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
}

.album-title p {
    font-size: 16px;
    color: rgb(110, 110, 110);
    line-height: 26px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.blur-line_1 {
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.gray-line {
    display: inline-block;
    width: 20px;
    height: 4px;
    background-color: gainsboro;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 3px;
}

.album-img {
    display: inline-block;
}

.album-joha {
    width: 13%;
    height: 300px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 24px;
}

.album-joha:hover {
    transform: scale(1.075);
    transition: all 0.5s;
}

.all {
    margin-bottom: 100px;
}

/* album section */

/* event - section  */

.event {
    text-align: center;
}

.event-title {
    margin-bottom: 30px;
}

.event-img img {
    width: 60px;
    border-radius: 100%;
    height: 60px;
    margin-right: 24px;
    margin-bottom: 20px;
}

.event-img, .event-news {
    display: inline-block;
}

.event-news {
    text-align: left;
}

.event-subtitle {
    display: inline-block;
}

.event-meta {
    font-size: 13px;
    color: #b2b2b2;
    margin-right: 14px;
    font-weight: 550;
}

.event-news h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.event-news p {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.span {
    color: var(--hover-color);
    font-weight: 500;
}

.event-boxs {
    border: 2px dashed var(--hover-color);
    display: inline-block;
    border-radius: 100px;
    height: 150px;
    width: 700px;
    padding-top: 24px;
}

.event-border {
    border: 2px dashed #dddddd;
    display: inline-block;
    border-radius: 100px;
    height: 150px;
    width: 700px;
    padding-top: 24px;
    margin-top: 30px;
}

.event {
    margin-bottom: 100px;
}
/* /event - section  */

/* block section */
.block {
    background-color: rgb(61, 24, 149);
    width: 100%;
    height: 450px;
    color: white;
}

.block-news {
    padding-top: 50px;
}

.block-news h1 {
    padding-bottom: 10px;
}

.block-news p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.block-news h4 {
    line-height: 34px;
}

.block-form {
    display: inline-block;
}

.block-form {
    float: right;
    padding-top: 50px;
}

.block-news {
    display: inline-block;
}

.block-form h1 {
    text-align: center;
    margin-bottom: 24px;
}

.block-form form input {
    width: 300px;
    height: 45px;
    background-color: rgba(204, 204, 204, 0.568);
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.block-form button {
    background: var(--hover-color);
    color: white;
    font-weight: 600;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.block-form input::placeholder {
    color: white;
}

.block-form input {
    padding-left: 14px;
}

.block-form button:hover {
    animation: rightToLeft 4s ease forwards;
    background-color: white;
    color: var(--hover-color);
    transition: all 0.5s;
}

.block {
    margin-bottom: 100px;
}
/* /block section */

/* testimonial sections */
.testimonial-title span {
    font-size: 14px;
    color: rgb(125, 214, 0);
    font-weight: 500;
    margin-bottom: 10px;
}

.testimonial-title {
    text-align: center;
}

.testimonial-content {
    display: inline-block;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.testimonial-content img {
    width: 60px;
    border-radius: 100%;
    height: 60px;
    margin-right: 24px;
    margin-bottom: 20px;
    border: 1px dashed var(--hover-color);
    display: inline-block;
    vertical-align: top;
}

.testimonial-content h4 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 24px;
    display: inline-block;
}

.testimonial-all {
    margin-left: 100px;
}

.testimonial-subtitle {
    font-size: 12px;
    color: rgb(0, 195, 255);
    font-weight: 600;
}

.width {
    font-size: 20px;
    font-weight: 800;
}

.joha-test {
    display: inline-block;
    margin-left: 10px;
}

.testimonial-icon form {
    display: inline-block;
    margin-left: 100px;
}

.testimonial-icon {
    margin-left: 100px;
}

.testimonial-icon input {
    width: 400px;
    height: 55px;
    border: none;
    background-color: rgba(49, 49, 233, 0.041);
    border-radius: 5px;
}

.testimonial-icon input::placeholder {
    color: rgb(101, 101, 101);
    font-size: 14px;
    font-weight: 500;
    margin-right: 104px;
}

.testimonial-icon input {
    padding-left: 25px;
}

.icon {
    background-color: var(--hover-color);
    color: white;
    height: 55px;
    width: 55px;
    padding-left: 8px;
    padding-top: 9px;
    vertical-align: middle;
    margin-left: -10px;
}

.testimonial-icon form {
    padding-bottom: -100px;
}

.testimonial-icon {
    margin-bottom: 100px;
}

.joha-husn {
    vertical-align: bottom;
    display: inline-block;
}

.testimonial-icon {
    margin-left: 100px;
    margin-top: 30px;
    width: 900px;
    height: 100px;
    box-shadow: 5px 10px 16px 10px rgba(128, 128, 128, 0.142);
    padding-top: 20px;
    padding-left: 40px;
}

.icon:hover {
    animation: rightToLeft 4s ease forwards;
    background-color: white;
    color: var(--hover-color);
    transition: all 0.5s;
}
/* /testimonial sections */


/* footer section */
.footer {
    background-color: rgb(61, 24, 149);
    width: 100%;
    height: 450px;
    color: white;
}

.left-content p {
    line-height: 24px;
    color: rgba(255, 255, 255, 0.86);
}









/*/ footer section */
